
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-box ">
                    <img src="~/Assets/Client/images/about-img.jpg" class="box_img" alt="about img">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="detail-box pr-md-2">
                    <div class="heading_container">
                        <h2 class="">
                            Giới thiệu về chúng thôi
                        </h2>
                    </div>
                    <p class="detail_p_mt">
                        <b>Tầm nhìn</b><br />
                        AutoGara phấn đấu trở thành hệ thống nâng cấp xe số 1 Việt Nam và thúc đẩy sự tăng trưởng của ngành nâng cấp xe ô tô bằng những công nghệ tiên tiến hàng đầu.
                    </p>
                    <p>
                        <b>Sứ mệnh</b><br />
                        Chúng tôi luôn chú trọng vào chất lượng của từng dịch vụ để mang lại những kết quả tốt nhất cho khách hàng. Với nhiều năm kinh nghiệm nâng cấp xe ô tô, đội ngũ kỹ thuật viên chuyên nghiệp, có trình độ chuyên môn cao, cùng những công nghệ nâng cấp xe ô tô tiên tiến nhất hiện nay. Chúng tôi không chỉ giúp xế yêu của bạn trở nên mạnh mẽ hơn mà còn mang lại cho mỗi chiếc xe là một sự khác biệt. Sự hài lòng và tín nhiệm của khách hàng cũng chính là thành công của chúng tôi.
                    </p>
                    <p>
                        <b>Giá trị cốt lõi</b><br />
                        - Sản phẩm chất lượng<br />
                        - Giá thành hợp lý<br />
                        - Luôn cập nhật và ứng dụng công nghệ mới nhất<br />
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="info_section ">
    <div class="info_container ">
        <div class="container">
            <div class="info_contact ">
                <a href="#" class="link-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        Địa chỉ: 4/4/1/7 Đường số 3, Thành phố Thủ Đức, TP. Hồ Chí Minh
                    </span>
                </a>
                <a href="#" class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        SĐT: 0363.365.365
                    </span>
                </a>
                <a href="#" class="link-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        E-mail: info@autogara.vn
                    </span>
                </a>
            </div>
            <div class="social_container">
                <div class="heading_container heading_center">
                    <h2>
                        AutoGara
                    </h2>
                    <p class="col-md-6 col-lg-5 mx-auto px-0">
                        Sở hữu tổ hợp siêu Garage hiện đại với diện tích trên 800m², hơn 88+ chi nhánh trên toàn quốc, 
                        đội ngũ chuyên viên kỹ thuật lành nghề và là nơi duy nhất tại Việt Nam cải tiến công nghệ độ xe hơi theo tiêu chuẩn nước ngoài.
                    </p>
                </div>
                <div class="social-box">
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


