
@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Home/_Layout.cshtml";
}

    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center ">
                <h2 class="">
                    Dịch vụ tại AutoGara
                </h2>
                <p class="col-lg-8 px-0">
                    Sở hữu tổ hợp siêu Garage hiện đại với diện tích trên 800m² ,
                    hơn 88+ chi nhánh trên toàn quốc, đội ngũ chuyên viên kỹ thuật lành nghề và
                    là nơi duy nhất tại Việt Nam cải tiến công nghệ độ xe hơi theo tiêu chuẩn nước ngoài.
                    Không chỉ mạnh về kỹ thuật, con người và công nghệ mà AutoGara còn là trung tâm đào tạo -
                    dạy nghề độ xe chuyên nghiệp được rất nhiều học viên và sinh viên các trường đại học tin tưởng để học nâng cao trình độ thực tế.
                    Với hệ thống Gara, đại lý trải dài từ Bắc vào Nam giúp quý khách hàng sẽ dễ dàng tìm đến AutoGara dù ở bất cứ đâu,
                    và hoàn toàn an tâm khi gửi gắm xế yêu và mua sắm sản phẩm tại AutoGara.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/DSC00863.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chăm sóc xe
                            </h5>
                            <p>
                                AutoGara là sự lựa chọn hàng đầu trong lĩnh vực chăm sóc xe ô tô với các dịch vụ chất lượng, đội ngũ kỹ thuật viên lành nghề và sản phẩm đạt chuẩn Châu Âu.
                                AutoGara phấn đấu trở thành hệ thống nâng cấp xe số 1 Việt Nam và thúc đẩy sự tăng trưởng của ngành nâng cấp xe ô tô bằng những công nghệ tiên tiến hàng đầu.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/cach-am-chong-on-xe-hoi.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cách âm chống ồn
                            </h5>
                            <p>
                                Cách âm xe hơi, xe ô tô - chống ồn không hề khó như nhiều anh em nghĩ
                                thậm chí đơn giản nhất có thể làm ở nhà tuy nhiên quan trọng phải tìm đúng vật liệu cách âm chuẩn,
                                chịu nhiệt tốt và đặc biệt là không mùi, không độc hại ảnh hưởng đến sức khỏe của bản thân và cả gia đình.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/nang-cap-do-choi.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nâng cấp đồ chơi
                            </h5>
                            <p>
                                Camera hành trình camera lùi de 360 chính hãng tỏ
                                ra hiệu quả hơn nhiều so với hệ thống cảm biến hỗ trợ đỗ
                                xe trên nhiều xe hơi được lắp đặt sẵn như hiện nay.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/do-den-xe-hoi.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Độ đèn ô tô
                            </h5>
                            <p>
                                Đa dạng sản phẩm phù hợp với từng nhu cầu khác nhau của khách hàng như đèn tăng sáng khi di chuyển trong thành phố,
                                ở các địa hình đồi núi, sương mù, ánh sáng bám đường - tuyệt đối không gây chói mắt người đối diện...
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/cach-am-chong-on-xe-hoi.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Dán phim Cách nhiệt
                            </h5>
                            <p>
                                Dán phim cách nhiệt ô tô là rất cần thiết nhằm ngăn cản tia hồng ngoại
                                làm nóng khoang xe, chống lại tia UV có hại cho sức khỏe, chống chói, lóa đảm bảo an toàn khi lái xe,
                                ngăn cản không bị đổi màu theo thời gian, không cản trợ bước sóng và tín hiệu wifi, bảo vệ nội thất xe
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Assets/Client/images/nang-doi-xe.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nâng đời xe ô tô
                            </h5>
                            <p>
                                Sau một thời gian dài sử dụng xe và chiếc xe dần xuống cấp, các chủ sẽ thường sẽ muốn mua một chiếc xe mới để nâng đời xe ô tô của mình. Tuy nhiên, nếu kinh phí của các bạn không đủ mua mới, thì có thể lựa chọn độ lên đời xe ô tô, nó sẽ khiến chiếc xe của bạn có một diện mạo hoàn toàn mới với một chi phí vừa phải hơn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
